sudo: false
language: node_js

env:
  - SENECA_VER=@1.x.x
  - SENECA_VER=@2.x.x

node_js:
  - '4'
  - '5'
  - '6'

before_script:
  - npm install seneca$SENECA_VER

after_script:
  - npm run coverage
